[user]
	name = Evan Harvey 
	email = harveyem@utas.edu.au 

[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true

[url "git@github.com:"]
	insteadOf = gh:

[github]
	user = blinklad
[credential]
	helper = cache --timeout=3600
